<%# <h1>Homepage#home</h1>
<p>Find me in app/views/homepage/home.html.erb</p> %>
<h1>Cosmos</h1>
<h2>Your premier cocktail resource from this galaxy to the next</h2>

<%= form_tag(ucs_path, method: "get") do %>
  Search by Rating <%= select_tag :rating, options_from_collection_for_select(@rating, "to_i", "to_i") %>
  <%= submit_tag 'Search' %>
<% end %>