<% if params[:name] %>
    <br>
    <ul>
    <% @cocktail.each do |cocktail| %>
        <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
    </ul>
<% else %>
    <h1>All Cocktails</h1>
    <%= link_to "Create New Cocktail", new_cocktail_path, class:"button"%>
    <br>
    <%= form_tag %>
    <br>
    <ul>
    <% @cocktails.each do |cocktail| %>
        <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
    </ul>
<% end %>
