<head>
<title>All Cocktails</title>
</head>
<body class="cocktails">
<% if params[:name] %>
    <br>
    <ul>
    <% @cocktail.each do |cocktail| %>
        <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
    </ul>
<% else %>
    <h1>All Cocktails</h1>
    <p><%= link_to "Create New Cocktail", new_cocktail_path, class:"button"%></p>
    <br>
    <ul class="list">
    <% @cocktails.each do |cocktail| %>
        <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
    </ul>
<% end %>
</body>