<head>
<title>Create New Cocktail</title>
</head>
<body>

<h1>Create New Cocktail</h1>

<br>
<% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
<% end %>
<%= render 'form' %>

</body>