<%# <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> %>

<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h1><%= @user.name %></h1>

<%= button_to "Logout", "/logout"%>