<%# <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> %>

<% if flash[:message] %>
    <%= flash[:message] %>
<% end %>

<h1><%= @profile.name %></h1>

<% if @current_user == @profile%>
<%= button_to "Edit", "/editprofile"%>
<%= button_to "Logout", "/logout"%>
<% end %>