<h1>All Ingredients</h1>
<%= link_to "Add New Ingredient", new_ingredient_path, method: "get", class:"button" %>

<% @ingredients.each do |ingredient| %>
    <div><%= link_to ingredient.name, ingredient_path(ingredient), class:"button" %></div>
<% end %>
