<h1>All Ingredients</h1>
<%= button_to "Add New Ingredient", new_ingredient_path, method: "get" %>

<% @ingredients.each do |ingredient| %>
    <div><%= link_to ingredient.name, ingredient_path(ingredient) %></div>
<% end %>
