// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

:root {
    --galaxy-image: url(https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1357&q=80);
}

body {
    background-color: black;
    align-content: center;
    color: silver;
}

body.home {
    background-image: var(--galaxy-image);
    background-size: 100%, 100%;
}

body.ingredients {
    background-image: var(--galaxy-image);
    align-content: center;
}

body.ingredients ul.list {
    background-color: black;
    opacity: 50%;
}


body.cocktails {
    background-image: var(--galaxy-image);
}

body.cocktails ul.list {
    background-color: black;
    opacity: 50%;
}

body.cocktails p {
    align-content: center;
    font-weight: bold;
}



div.home {
    padding-top: 5%;
    text-align: center;
}

h1 {
    position: relative;
    margin: 5px;
    width: 100%;
    font-size: 100px;
    text-align: center;
    background-image: var(--galaxy-image);
    color: silver;

}

h1.home {
    background-image: none;
}

h2 {
    height: 50%;
    width: 100%;
    text-align: center;
    color: silver;
}


.button {
    background-image: var(--galaxy-image);
    border-radius: 10px;
    padding: 3px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

table.show {
    width: 100%;
    height: 100%;

}

td.recipecard {
    width: 30%;
    border-radius: 15px;
    border: 3px solid silver;
    color: silver;
}

td.title {
    vertical-align: top;
    padding-top: 0;
}

td ul {
    background-color: black;
}

em {
    color: silver;
}

em a {
    color: silver;
}

p.links {
    
    align-content: center;
}

body.form {
    color: silver;
    align-content: center;
}

table.form {
    width: 100%;
}


table.form td:first-child {
    text-align: right;
    padding-right: 10px;
    width: 48%;
}

table.form td:nth-child(2) {
    text-align: left;
}

table.form td.ing {
    border-left: 1px solid silver;
    padding-left: 10px;
    padding-top: 0px;
}

input[type=text] {
    background-color: black;
    border: 2px solid silver;
    border-radius: 5px;
    color: silver;
    padding: 5px;
}
input[type=number] {
    background-color: black;
    border: 2px solid silver;
    border-radius: 5px;
    color: silver;
    padding: 5px;
}

textarea {
    background-color: black;
    border: 2px solid silver;
    border-radius: 5px;
    color: silver;
    padding: 5px;
}

input[type=submit] {
    background-image: var(--galaxy-image);
    align-content: center;
    border: 1px solid black;
    border-radius: 5px;
    color: silver;
    font-size: medium;
    font-weight: bold;
}

input[type=select] {
    background-color: black;
    border: 2px solid silver;
    border-radius: 5px;
    color: silver;
    padding: 5px; 
}


//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
///////////// ADVANCED SEARCH FORM ///////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
body.search {
    background: black;
    align-content: center;
    font-size: medium;
    color: silver;
}

ul.blackout {
    color: black;
    background-color: black;
}

p.big {
    color: silver;
    font-size: x-large;
    font-weight: bold;
}


input[type=radio] {
    display: none;
}

input[type=radio] + label {
    background:silver;
    color:black;
    border-radius: 25px;
    padding: 10px;
}

input[type=radio]:checked + label {
    background-image: var(--galaxy-image);
    color: silver;
    border-radius: 25px;
    padding: 15px;
    font-size: x-large;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    background: silver;
    color: black;
    border-radius: 25px;
    padding: 5px;
}

input[type=checkbox]:checked + label {
    background-image: var(--galaxy-image);
    color: silver;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px;
    font-size: x-large;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
}

td {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;

}

a.cocktail {
    background-image: var(--galaxy-image);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 8px;
    text-decoration: none;
    color:silver;
    font-size: large;
    font-weight: bold;
}

p {
   width: 100%;
   text-align: center; 
}

