<h2>Cocktails</h2>
<br>
<table>
<% @cocktails.each_with_index do |cocktail,i| %>
    <% i = i+1 %>
    <% if i % 5 == 1 %>
        <tr><td><%= link_to cocktail.name, cocktail_path(cocktail), class:"cocktail" %></a?</td>
    <% elsif i % 5 == 0 %>
        <td><%= link_to cocktail.name, cocktail_path(cocktail),class:"cocktail" %></td></tr>
    <%else%>
        <td><%= link_to cocktail.name, cocktail_path(cocktail),class:"cocktail" %></td>
    <%end%>
<% end %>
</table>
